<nav class="navbar navbar-expand-lg bg-body-tertiary">
  <div class="container-fluid">
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link active" href="#">Home</a>
        </li>
        <li class="nav-item"> <!-- Mostrar só se for Adm -->
          <a class="nav-link" href="#">Usuários</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Atividades</a>
        </li>
        <li class="nav-item"> <!-- Mostrar só se for Adm ? -->
          <a class="nav-link" href="#">Cursos</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Meu Painel</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
