<script>
const deleteActivity = (url) => {
    const httpRequest = new XMLHttpRequest();
    $.ajax({
        url: url,
        method: 'DELETE',
        success: (result) => {
            window.location.href="/api/activity";
        }
    });
}

const deleteCourse = (url) => {
    const httpRequest = new XMLHttpRequest();
    $.ajax({
        url: url,
        method: 'DELETE',
        success: (result) => {
            window.location.href="/api/course";
        }
    });
}

const deleteUser = (url) => {
    const httpRequest = new XMLHttpRequest();
    $.ajax({
        url: url,
        method: 'DELETE',
        success: (result) => {
            window.location.href="/users/list";
        }
    });
}
</script>